
/** Unify text fonts around the entire website **/
body{
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5 , h6{
  font-family: "Montserrat";
}

p{
  color: #8f8f8f;
}

/* Heading */
.big-heading{
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading{
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Containers */
.container-fluid{
  padding: 7% 15%;
}

/* Sections */
.colored-section{
  background-color: #ff4c86;
  color: #fff; /** (incase we want to add another subtitle or some, they will be white// vs putting color white in h1) **/
}

.white-section{
    background-color: #fff;
}


/* Navigation Bar */

.navbar{
  padding: 0 0 4.5rem 0;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat";
}

/** Title Sections  **/

/* For the container-fluid inside the title change padding to ... */
#title .container-fluid{
  padding: 3% 15% 7%;
  text-align: left;
}



/* Title Image */
.title-img{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
  /* (moved right 30%) */
}


/* Title */
.big-heading {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Download buttons */
.dw-button{
  margin: 5% 3% 5% 0;
}

/* Features Section */
#features{
  position: relative;
  z-index: 1;
}

.feature-text{
  font-size: 1.5rem;
}

.feature-box{
    padding: 5%;
    margin: 50px auto;
}


/* Icons */
.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c86;
}


/* Testimonial Section */
#testimonials{
  background-color: #ef8172;
}

.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}


#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing{
  padding: 100px;
}
.price-text{
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column{
  3% 2%;
}


/* Call to Action CTA Section  */

#cta{
  background-color: #ff4c86;
  color: #fff;
}


/* Footer */
#footer{
  background-color: #fff;
}

.social-icon{
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title{
    text-align: center;
  }

  .title-image{
    position: static;
    transform: rotate(0);
    margin: 10% auto;
  }
}
